<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GIMOZI 🦖 GitHub's Markdown Compatible Emojis</title>
    <meta name="description" content="GitHub's Markdown Compatible Emojis">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/gimozi.svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-title" content="Gimozi">
    <meta name="application-name" content="Gimozi">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="GitHub's Markdown Compatible Emojis">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gimozi">
    <meta property="og:url" content="https://gimozi.vercel.app">
    <meta property="og:image" content="https://raw.githubusercontent.com/CodeDotJS/gimozi/master/static/image/g1006-4.png">
    <meta property="og:image:alt" content="GitHub's Markdown Compatible Emojis">
    <meta property="og:description" content="GitHub's Markdown Compatible Emojis">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='_responsive.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>GIMOZI<span id="bio">GitHub's Markdown Compatible Emojis</span></h1>
            <select id="copy-option">
                <option value="markdown">Markdown</option>
                <option value="image">Image</option>
                <option value="unicode">Unicode</option>
                <option value="base64">Base64</option>
                <option value="download">Download</option>
                <option value="info">Info</option>
            </select>
        </div>
        <div id="emojis-container"></div>
        <div class="button-container">
            <button id="show-more-btn">SCROLL DOWN</button>
            <button id="scroll-up-btn">SCROLL UP</button>
        </div>
    </div>
    <div class="notify">Copied to clipboard!</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
